doctype html
html(lang="he")

	head
		link(rel="manifest", href="/manifest.json")

		script
			include ../public/script.js

		style
			include ../public/styles.css

		meta(
		charset="utf-8"
		)

		meta(
		name="viewport"
		content="width=device-width"
		)

		include seo

		include favicons

		if production
			script
				include ../public/google-analytics.js

		meta(name="msvalidate.01" content=bingVerification)

	body

		header
			.A4
				h1.logo שמאלנים
				span &nbsp;-&nbsp;
				.tagline ויש נקודה.
				.help-switch ?

			.A4.help
				p
					|המנגנון מאחורי "שמאלנים" אוסף מאמרים מהאתרים&nbsp;
					a(href="http://www.haaretz.co.il" target="_blank") הארץ
					|,&nbsp;
					a(href="http://www.ha-makom.co.il" target="_blank") המקום הכי חם בגהינום
					|,&nbsp;
					a(href="http://www.haokets.org" target="_blank") העוקץ
					|,&nbsp;
					a(href="http://tv.social.org.il" target="_blank") הטלויזיה החברתית
					|&nbsp;ו-&nbsp;
					a(href="http://mekomit.co.il" target="_blank") שיחה מקומית
					|&nbsp; ומציג אותם כאן.

				p כל זכויות היוצרים שייכות לכתבים והצלמים של האתרים האלו. אתר "שמאלנים" אינו מצדד בהכרח בדעות הנקובות בכתבות אלו וכמובן שאינו לוקח אחריות על הכתוב בהן.

				p כמו עם כל גוף ידע - השתמשו בביקורתיות ובתבונה כאשר אתם קוראים "אקטואליה".

		include headlines-list

		footer
			.A4
				p
					| עיצוב ופיתוח - סתו גפן.&nbsp;
					a(href="https://github.com/panstav/Smolan.im" target="_blank") קוד פתוח
