li
	@include clear-fix

	padding: 1em 0
	border-bottom: 3px solid darken($background, 10%)

.image
	display: inline-block
	float: right
	background-size: cover
	background-position: center

	width: 5em
	height: 7em
	margin-left: 1em

	vertical-align: middle
	border-radius: 4px

.details
	overflow: hidden

span.date
	opacity: .5
	display: inline-block
	width: 3.5em
	margin-top: .2em
	font-size: 1em

h3
	margin: .5em 0
	font-size: 1.2em