$legacy:    320px
$mobile:    450px
$tablet:    650px
$desktop:   800px
$tv:        1200px
$plasma:    1600px

$main:          #61C44F
$main-shaded:   #1B3A1D
$complement:    #716558
$accent:        #001249
$background:    #FCFCF2
$ui:            #CBCBCB
